body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

.container {
  width: 60%;
  margin: 50px auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 191, 243);
}

.item:nth-child(even) {
  background-color: salmon;
}
